/*
.text {
	color: rgb(73, 72, 72);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
}*/
div.panel { 
	border: solid;
	padding: 10px;
	border-radius: 6px;
	border-width: 1px;
	border-color: rgb(170, 170, 170);
}

#headerWrap {
	background-image: url("../images/header/header-bg-2012-narrow.gif");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-color: rgb(44, 148, 220);
	height: 77px;
}
#header,#headerTop {
	width: 1000px;
	height: 77px;
	margin: 0px auto;
	overflow: hidden;
	z-index: auto !important;
}
#emcLogo {
	position: relative;
	top: 35px;
	left: 10px;
}
/*ul {
	font-family: Arial, Helvetica, sans-serif;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 15px;

	text-align: left;
}*/
h1,h2,h3 {
	color: rgb(29, 156, 197);
	
}


.row {
  margin-bottom: 10px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
/*h1 {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	}
h3 {
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
}*/

/*li {
	line-height: 15px;
	margin-left: 0px;
	padding-left: 15px;
	list-style-position: outside;
	background: url("../images/common/bullet_disc.gif")
		no-repeat scroll 0.1em 0.1em transparent;
}*/


li.pdf {
	color: rgb(112, 150, 191);
	line-height: 15px;
	margin-left: 0px;
	padding-left: 25px;
	list-style-position: outside;
	background: url("../images/common/btn_pdf.gif") no-repeat scroll 0.1em
		0.1em transparent;
	color: rgb(73, 72, 72);
}
ul {
	padding-left: 15px;
}
li.ref {
	color: rgb(112, 150, 191);
	list-style-type: none;
	line-height: 15px;
	margin-left: 0px;
	padding-left: 25px;
	list-style-position: inside;
	background: url("../images/common/btn_blue_arrows_box_right.gif")
		no-repeat scroll 0.1em 0.1em transparent;
}

li.mail {
	color: rgb(112, 150, 191);
	line-height: 15px;
	list-style-image: url("../images/common/btn_emailicon.gif");
	list-style-position: outside;
	list-style-type: none;
	padding-left: 5px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 0.75em;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}